/* ~~~~~~ FOOTER STYLING ~~~~~~ */
footer {
    margin-top: 20px;
}

.social-icon {
    width: 7vmin;
    height: 7vmin;
}

#github-logo path {
    fill: var(--blueYonder);
}

#github-logo:hover path {
    fill: var(--iceberg);
}

#github-logo:active path {
    fill: var(--blackCoral);
}

#linkedin-logo path {
    fill: var(--blueYonder);
}

#linkedin-logo:hover path {
    fill: var(--iceberg);
}

#linkedin-logo:active path {
    fill: var(--blackCoral);
}

footer a img {
    margin-right: 0px;
}

a {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: var(--blueYonder);
    text-decoration: none;
    font-size: 5vmin;
    display: inline-block;
}

a:hover {
    color: var(--iceberg);
    cursor: pointer;
}

a:active {
    color: var(--blackCoral);
    text-decoration: underline;
}

a:not(:first-child) {
    float: right;
    margin-left: 4vw;
}

@media screen and (min-width: 1024px) {

}

/* @media screen and (max-width: 1023px) {

} */

@media screen and (max-width: 480px) {
    #svgs {
        text-align: center;
    }

    .resume {
        display: block;
        text-align: center;
        font-size: 10vmin;
        margin: 20px 0;
    }

    .social-icon {
        display: inline-block;
        margin: 20px auto;
        width: 15vmin;
        height: 15vmin;
        text-align: center;
    }

}