<div id="body-container">
    <main>
        <div class="a block">
            <img src="https://jackrossdotdevprofilepicture.s3.amazonaws.com/profile_pic.JPG" alt="Profile Picture">
            <span>
                <!-- <svg id="location" width="14px" height="20px" viewBox="0 0 14 20" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="#577399" fill-rule="evenodd">
                        <g transform="translate(-377.000000, -1306.000000)">
                            <g transform="translate(100.000000, 1162.000000)">
                                <g transform="translate(272.000000, 142.000000)">
                                    <g>
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <path
                                            d="M12,2 C8.13,2 5,5.13 5,9 C5,13.17 9.42,18.92 11.24,21.11 C11.64,21.59 12.37,21.59 12.77,21.11 C14.58,18.92 19,13.17 19,9 C19,5.13 15.87,2 12,2 Z M12,11.5 C10.62,11.5 9.5,10.38 9.5,9 C9.5,7.62 10.62,6.5 12,6.5 C13.38,6.5 14.5,7.62 14.5,9 C14.5,10.38 13.38,11.5 12,11.5 Z"
                                            fill="#F7F7FF"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg> -->

                <h2>Chicago, IL</h2>
            </span>

            <p><q>Happiness is not a state to arrive at, but a manner of traveling.</q> - Margaret Lee Runbeck</p>

            <a href="https://www.hackerrank.com/jackross">Hacker Rank Profile ></a>
        </div>

        <div class="b block">
            <h2>Ideal Work Environment</h2>
            <ul>
                <li>Has compassionate team members who enjoy collaborating</li>
                <li>Creates a productive atmosphere to maximize efficiency</li>
                <li>Possesses an overall positive and optimistic ambience</li>
            </ul>

            <h2>Goals as a Developer</h2>
            <ul>
                <li>To consistently write quality code that follows all best practices</li>
                <li>To make a noticeably positive impact on a company or product</li>
                <li>To constantly improve and learn using all available resources</li>
            </ul>

            <h2>Hobbies & Interests</h2>
            <ul>
                <li>Filmmaking and video editing whether on a larger production or just using social media</li>
                <li>DJing and creating fun beats in Ableton Live. I'm an EDM lover</li>
                <li>Both casually gaming with friends and high ranked competitive gaming</li>
            </ul>
        </div>
    </main>
    <app-footer></app-footer>
</div>