* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* outline: 1px solid pink; */
}

#body-container {
    padding: 0 5vw;
}

.app {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    margin: 3vh 0;
}

.app > * {
    grid-column: 2 / -2;
}

.app > .full {
    grid-column: 1 / -1;
}

.hs {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, calc(40% - 40px));
    grid-template-rows: minmax(150px, 1fr);
    overflow-x: scroll;
    padding-bottom: 10px;
}

.item {
    scroll-snap-align: center;
    padding: calc(var(--gutter) / 2 * 1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--blueYonder);
    border: 2px solid var(--blackCoral);
    border-radius: 8px;
    text-align: center;
    padding: 0 2vw
  }

.item .text {
    background-color: var(--blueYonder);
    font-family: 'Poppins', sans-serif;
}

.item h1 {
    color: var(--gunMetal);
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 10px;
}

.item p {
    color: var(--ghostWhite);
    font-weight: 500;
    margin-bottom: 15px;
}

.item h4 {
    color: var(--iceberg);
    font-weight: 700;
}

.item h2 {
    color: var(--ghostWhite);
    font-weight: 600;
    margin-bottom: 25px;
}

.item .link {
    color: var(--ghostWhite);
    font-weight: 400;
    background-color: var(--blueYonder);
    font-size: 1.5em;
    margin-bottom: 10px;
}

.item .link:hover {
    color: var(--iceberg);
    text-decoration: underline;
}

.item .link:active {
    color: var(--blackCoral);
}

.link-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "github youtube";
    grid-gap: 15px;
    width: 200px;
    height: 100%;
    background-color: var(--blueYonder);
}

.github {
    grid-area: github;
}

.youtube {
    grid-area: youtube;
}

.link-container svg {
    background-color: var(--blueYonder);
}

.link-container .foreground {
    fill: var(--ghostWhite);
}

.link-container svg:hover .foreground {
    fill: var(--iceberg);
}

.link-container svg:active .foreground {
    fill: var(--blackCoral);
}

a {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: var(--blueYonder);
    text-decoration: none;
    font-size: 5vmin;
    grid-column: 1 / 2;
}

a:hover {
    color: var(--iceberg);
    cursor: pointer;
}

a:active {
    color: var(--blackCoral);
    text-decoration: underline;
}