* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* outline: 1px solid pink; */
}

h1 {
    color: var(--blackCoral);
    text-align: center;
    font-size: 11vmin;
    margin: 8vmin;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.foreground {
    fill: var(--blueYonder);
}

.background {
    fill: var(--iceberg);
}