* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    /* outline: 1px solid pink; */
}

#nav-container {
    padding: 0 5vw;
    background-clip: padding-box;
    background-color: var(--iceberg);
}

nav {
    background-color: var(--iceberg);
    width: auto;
    line-height: 100%;
}
nav button {
    color: var(--ghostWhite);
    background-color: var(--iceberg);
    border: 0;
    outline: 0;
    padding: 0 10px;
}
nav button.poppins {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
nav button.raleway {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    border: none;
}
nav button:hover {
    background-color: var(--blueYonder);
    cursor: pointer;
}
nav button:active {
    background-color: var(--blackCoral);
}

label {
    font-size: 9vmin;
    color: var(--ghostWhite);
    background-color: var(--iceberg);
    line-height: 100%;
    display: none;
}
#toggle {
    display: none;
}
.menu {
    display: flex;
    background-color: var(--iceberg);
    align-self: center;
    float: right;
}
.menu button {
    text-align: middle;
}

.menu button:last-child {
    margin-right: 0;
}

@media screen and (min-width: 1024px) { 
    nav button.poppins {
        font-size: 7vmin;
    }
    nav button.raleway {
        font-size: 4vmin;
    }
    .menu button {
        line-height: 263%;
        margin: 0 2vw;
    }
}

@media screen and (max-width: 1023px) {
    nav button.poppins {
        font-size: 6vmin;
    }
    nav button.raleway {
        font-size: 2.95vmin;
    }
    .menu button {
        text-align: middle;
        line-height: 300%;
        margin: 0 8px;
    }
}

@media screen and (max-width: 480px) {
    label {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        width: auto;
        padding: 0 2vw;
        font-size: 15vw;
        float: right;
    }
    label:focus {
        outline: none;
    }
    label:hover {
        background-color: var(--blueYonder);
    }
    label:active {
        background-color: var(--blackCoral);
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    #toggle:checked + .menu {
        display: block;
    }
    .menu button {
        display: block;
        width: 100%;
        line-height: 8vmax;
        margin: 0;
    }
    .menu button:not(:last-child) {
        border-bottom: 1px solid var(--blueYonder);
    }
    .menu button:last-child {
        border-bottom: 1px solid var(--blueYonder);
    }
    .menu button:first-child {
        border-top: 1px solid var(--blueYonder);
    }
    
    nav {
        /* height: 15.2vw; */
        height: 15.6vw;
    }
    nav button.raleway {
        font-size: 4.6vw;
    }

    nav button.poppins {
        font-size: 10vw;
        padding: 0 2vw;
    }
    #nav-container {
        padding: 0;
        /* border-bottom: 2px solid var(--iceberg); */
    }
}