/* Add global styles to this file, and also import other style files */

/* Quick Base Plate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    background-color: var(--ghostWhite);
    -webkit-tap-highlight-color: white;
    /* outline: 1px solid pink; */
}

/* Creating variables for the color palette so I don't have to memorize their hex color codes */
:root {
    --gunMetal: #212830;
    --blackCoral: #495867;
    --blueYonder: #577399;
    --iceberg: #83B0D8;
    --ghostWhite: #F7F7FF;
}